nav {
    width: 100%;
    padding-top: 20px;
    position: absolute;
    z-index: 997;
    height: 67px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    img {
        width: 200px;
        margin-left: 30px;
    }

    #sections {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-right: 0;

        p {
            font-weight: 600;
            color: #fff;
            font-size: 15px;
            margin-right: 50px;
        }
    }

    #menu {
        width: 30px;
        height: 25px;
        flex-flow: column nowrap;
        justify-content: space-between;
        cursor: pointer;
        margin-right: 30px;
        display: none;

        div {
            width: 100%;
            height: 3px;
            border: none;
            background: #fff;
        }
    }
}

#content {
    width: 100%;

    #landing {
        width: 100%;
        height: 120vh;
        transition: height 300ms;
        position: relative;

        .slider {
            width: 100%;
            height: 100%;
    
            .carr-page {
                display: flex;
                align-items: center;
                justify-content: center;

                &:first-child {  background-image: url('../img/paris.png') }
                &:nth-child(2) {  background-image: url('../img/japan.png') }
                &:nth-child(3) {  background-image: url('../img/paris.png') }
                &:nth-child(4) {  background-image: url('../img/japan.png') }
            }
        }
    }

    #current-dest {
        height: 100%;
        width: 100%;
        background: rgb(2,16,51);
        padding-top: 100px;
        padding-bottom: 400px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        #gradient {
            transition: top 300ms, height 300ms;
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 20vh;
            background: rgb(2,16,51);
            background: linear-gradient(0deg, rgba(2,16,51,1) 0%, rgba(0,212,255,0) 100%);
          }

        h1 {
            font-weight: 600;
            color: #fff;
            margin: 0;
            padding: 0;
            text-align: center;
            font-size: 40px;
            margin-bottom: 50px;
        }

        #panels {
            color: #fff;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            gap: 30px;

            .panel {
                height: 600px;
                width: 30%;
                position: relative;

                div {
                    height: 100%;
                    width: 100%;

                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

                &:first-child div { background-image: url('../img/beach.png') }
                &:nth-child(3) div { background-image: url('../img/mountain.png') }

                &:nth-child(2) {
                    width: 40%;
                    div { background-image: url('../img/castle.png') }
                }

                h2 {
                    position: relative;
                }
            }
        }
    }

    #cta {
        width: 100%;
        height: 700px;
        position: relative;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        background-image: url('../img/airport.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        #gradient {
            width: 100%;
            height: 80%;
            position: absolute;
            z-index: 997;
            top: 0;
            background: rgb(2,16,51);
            background: linear-gradient(180deg, rgba(2,16,51,1) 0%, rgba(0,212,255,0) 100%);
        }

        h1 {
            z-index: 997;
            font-weight: 600;
            margin: 0;
            padding: 0;
            text-align: center;
            font-size: 40px;

            &:nth-child(2) {
                color: #ff5500;
                font-size: 50px;
                margin-top: -150px;
                margin-bottom: 20px;
            }

            &:nth-child(3) {
                color: #fff;
                font-size: 55px;
            }
        }

        button {
            z-index: 997;
            border: none;
            border-radius: 10px;
            width: 190px;
            height: 65px;
            background: #ff5500;
            color: #fff;
            font-family: 'Caviar Dreams';
            font-weight: 600;
            font-size: 18px;
            margin-top: 15px;
            cursor: pointer;
            transition: background 300ms;

            &:hover {
                background: #cc4400;
            }
        }
    }

    #motto {
        padding-top: 60px;
        padding-bottom: 100px;
        height: 400px;

        h1 {
            text-align: center;
            font-size: 42px;
            font-weight: 600;
            margin-bottom: 35px;
        }

        p {
            text-align: center;
            font-size: 25px;
            font-weight: 500;
        }
    }

    #documentaries {
        width: 100%;
        height: 650px;
        background: #021033;
        padding-top: 40px;

        h1 {
            color: #fff;
            font-size: 45px;
            text-align: center;
        }

        .gallery {
            width: 100%;
            margin-top: 50px;

            .flickity-page-dots {
                display: none;
            }

            .gallery-cell {
                width: 600px;
                height: 400px;
                margin-right: 10px;
                counter-increment: gallery-cell;

                iframe, img {
                    width: 100%;
                    height: 100%;
                    transform: scale(0.85);
                    transition: transform 300ms;
                }
    
                &.is-selected iframe, &.is-selected img {
                    transform: scale(1);
                }
            }
        }
    }

    #actualités {
        width: 100%;
        height: 800px;
        position: relative;
        padding-top: 50px;
        margin-top: 10px;

        background-image: url('../img/clouds.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        #gradient {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 997;
            bottom: 0;
            background: rgb(2,16,51);
            background: linear-gradient(0deg, rgba(2,16,51,1) 0%, rgba(0,212,255,0) 100%);
        }

        h1 {
            color: #fff;
            font-size: 50px;
            text-align: center;
        }

        #posts {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            gap: 5%;
            z-index: 997;
            position: absolute;
            margin-top: 3%;

            .post {
                width: 40%;
                height: 100%;

                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                cursor: pointer;

                &:first-child #background { background-image: url('../img/street.png') }
                &:nth-child(2) #background { background-image: url('../img/city.png') }

                #background {
                    width: 100%;
                    height: 70%;
                    height: 300px;
        
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

                #text {
                    width: 100%;
                    height: 30%;
                    background: #fff;
                    color: #021033;
                    font-size: 17px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    p {
                        width: calc(100% - 100px);
                        height: calc(100% - 50px);
                        text-align: justify;
                        text-justify: inter-word;
                    }
                }
            }
        }

        #line {
            width: 100%;
            height: 150px;
            top: 100%;
            position: absolute;
            background: #021033;
            display: flex;
            align-items: center;
            justify-content: center;

            h1 {
                margin-top: 20px;
                margin: 0;
                padding: 0;
                color: #fff;
                text-align: center;
            }
        }
    }

    #map {
        margin-top: 150px;

        width: 100%;
        height: 600px;
        position: relative;

        background-image: url('../img/map.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@media only screen and (max-width: 1280px) {
    nav {
        img { margin-left: 15px }
        #sections { display: none }
        #menu { display: flex }
    }
}

@media only screen and (max-width: 880px) {
    #landing {
        height: 400px !important;

        .slider {
            .next:before, .prev:before {
                transform: scale(0.5);
            }

            .next:before {
                right: 10px;
            }

            .prev:before {
                left: 10px;
            }
        }

        .titles {
            h1 {
                top: calc(25% - 25px);
                font-size: 100px;
            }

            p { display: none; }
        }
    }

    #current-dest {
        padding-bottom: 150px !important;

        h1 {
            width: 90% !important;
            font-size: 35px !important;
        }
        
        #gradient {
            height: 250px !important;
            top: 150px !important;
        }

        #panels {
            width: 90vw !important;
            flex-flow: column nowrap !important;

            .panel {
                height: 400px !important;
                width: 100% !important;
                margin-bottom: 100px !important;

                &:nth-child(2) {
                    height: 550px !important;
                }

                h2 {
                    text-align: center !important;
                }
            }
        }
    }

    #cta {
        height: 400px !important;

        h1 {
            &:nth-child(2) {
                margin-top: 20px !important;
                font-size: 30px !important;
                margin-bottom: 10px !important;
            }

            &:nth-child(3) {
                font-size: 35px !important;
            }
        }

        button {
            width: 150px !important;
            height: 50px !important;
        }
    }

    #motto {
        padding-bottom: 45px !important;

        h1 {
            margin-left: 5% !important;
            width: 90% !important;
            font-size: 35px !important;
        }

        p {
            margin-left: 2.5% !important;
            width: 95% !important;
            font-size: 23px !important;
        }
    }

    #documentaries {
        h1 {
            font-size: 35px !important;
            margin-bottom: 50px;
        }
    }

    #actualités {
        height: auto !important;

        h1 {
            font-size: 35px !important;
            margin-bottom: 50px;
        }

        #posts {
            flex-flow: column nowrap !important;
            position: relative !important;

            .post {
                width: 90vw !important;

                &:first-child {
                    margin-bottom: 30px;
                }

                &:last-child {
                    margin-bottom: 80px;
                }
            }
        }

        #line h1 {
            font-size: 30px;
        }
    }

    #map {
        height: 400px !important;
    }
}

@media only screen and (max-width: 1200px) {
    #line h1 {
        width: 90vw;
        font-size: 30px !important;
    }
}

@media only screen and (max-width: 1100px) {
    #documentaries {
        margin-top: 500px !important;
    }
}

@media only screen and (max-width: 650px) {
    #documentaries {
        margin-top: 550px !important;
    }
}